.hero-section {
    height: 100vh;
}

video {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.overlay {
    height: 100vh;
    background-color: #111;
}

.hero-title h1{
    color: white;
    padding-top: 200px;
}

.hero-title h3{
    color: white;
}

section.news-section {
    padding: 0 0 50px 0;
}

.four-fullwidth {
    height: 100vh;
}

.container-fluid {
    margin-left: 170px;
}

header.active .navbar {
    background: #232323 !important;
    height: 50px; 
}

@media (max-width: 991px) {
    section.testimonial-section {
        padding: 50px;
    }

    #myVideo {
       width: max-content;
    }

    .container-fluid {
        margin-left: auto;
    }

    header.active .navbar {
        background: #232323 !important;
        height: 90px; 
    }

    .owl-stage {
        display: flex !important;
        justify-content: space-between !important;
        align-items: baseline !important ;
        flex-wrap: nowrap !important;
        align-content: center !important; 
    }

    .owl-item, .project-post {
        width: 400px !important;
        margin-left: 5px !important;
    }
}

@media (max-width: 767px) {
    .hero-title h1 {
        font-size: 20px;
        
    }
    .hero-title h3 {
        font-size: 12px;
        
    }

    header .navbar {
        background: #232323 !important;
    }

    header.active .navbar {
        background: #232323 !important;
        height: 90px; 
    }

    .container-fluid {
        margin-left: auto;
    }

    section.testimonial-section {
        padding: 50px;
    }

    #myVideo {
       width: max-content;
    }
    
    .title-section h1 {
        font-size: 30px;
    }

    .owl-stage {
        display: flex !important;
        justify-content: space-between !important;
        align-items: baseline !important ;
        flex-wrap: nowrap !important;
        align-content: center !important; 
    }

    .owl-item, .project-post {
        width: 400px !important;
        margin-left: 5px !important;
    }

    
}



@media (max-width: 500px) {
    .hero-title {
        margin-bottom: 30px;
    }

    .hero-title h1 {
        font-size: 20px;
        
    }
    .hero-title h3 {
        font-size: 12px;
        
    }

    header .navbar {
    background: #232323 !important;
    }

    header.active .navbar {
        background: #232323 !important;
        height: 90px; 
    }

    .container-fluid {
        margin-left: auto;
    }

    section.testimonial-section {
        align-items: center;
    }

    #myVideo {
        width: max-content;
    }

    .title-section h1 {
        font-size: 30px;
    }

    .owl-stage {
        display: flex !important;
        justify-content: space-between !important;
        align-items: baseline !important ;
        flex-wrap: nowrap !important;
        align-content: center !important; 
    }

    .owl-item, .product-item {
        width: 300px !important;
        margin-left: 5px !important;
    }

    .owl-dots {
        display: none;
    }
}

